.top-slider {
    padding-top: 25px;
    &__inner {
        display: flex;
        background-color: #fcd7b6;
        min-height: 820px;
        align-items: center;
    }
    &__item {
        display: flex !important;
        max-width: 1170px;
        margin: 0 auto;
    }
    &__content {
        margin-top: -65px;
        max-width: 530px;
        & p {
            @extend %Rubik-400;
            font-size: 18px;
            line-height: 1.6;
            color: #436372;
            margin-bottom: 40px;
            max-width: 370px;
            @extend %text-wrap;
        }
    }
    &__title {
        @extend %text-wrap;
        @extend %Rubik-500;
        font-size: 72px;
        line-height: 1;
        color: #243f4d;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__link {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            background-image: url(../images/icons/arrow.svg);
            background-repeat: no-repeat;
            height: 10px;
            width: 25px;
            right: 20px;
            top: 28px;
        }
    }
    &__blog {
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            border-radius: 50%;
            background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            position: absolute;
            width: 634px;
            height: 634px;
            z-index: -1;
            top: -80%;
            right: -16%;
        }
    }
    & .slick-slide {
        display: flex;
        min-height: 825px;
        flex-direction: column;
        justify-content: center;
    }
    & .slick-dots {
        display: flex;
        position: absolute;
        content: '';
        left: 47%;
        bottom: 5%;
    }
    & .slick-dots button {
        padding: 0;
        background-color: #fde3cc;
        border: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        color: #243f4d;
        margin-right: 12px;
        font-size: 11px;
        @extend %Rubik-500;
    }
    & .slick-active button {
        background-color: #ffffff;
    }
}