                        .top-slider {
                            padding-top: 25px;
                            background-color: #fcd7b6;
                            &__inner {
                                display: flex;
                                align-items: center;
                            }
                            &__item {
                                display: flex !important;
                                max-width: 1170px;
                                margin: 0 auto;
                            }
                            &__content {
                                margin-top: -65px;
                                max-width: 530px;
                                & p {
                                    @extend %Rubik-400;
                                    font-size: 18px;
                                    line-height: 1.6;
                                    color: #436372;
                                    margin-bottom: 40px;
                                    max-width: 370px;
                                    @extend %text-wrap;
                                }
                            }
                            &__title {
                                @extend %text-wrap;
                                @extend %Rubik-500;
                                font-size: 72px;
                                line-height: 1;
                                color: #243f4d;
                                text-transform: uppercase;
                                margin-bottom: 20px;
                            }
                            &__link {
                                position: relative;
                                &::after {
                                    position: absolute;
                                    content: '';
                                    background-image: url(../images/icons/arrow.svg);
                                    background-repeat: no-repeat;
                                    height: 10px;
                                    width: 25px;
                                    right: 20px;
                                    top: 28px;
                                }
                            }
                            &__blog {
                                position: relative;
                                z-index: 1;
                                &::after {
                                    content: '';
                                    border-radius: 50%;
                                    background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
                                    position: absolute;
                                    width: 634px;
                                    height: 634px;
                                    z-index: -1;
                                    top: -80%;
                                    right: -16%;
                                }
                            }
                            & .slick-slide {
                                display: flex;
                                min-height: 825px;
                                flex-direction: column;
                                justify-content: center;
                            }
                            & .slick-dots {
                                display: flex;
                                position: absolute;
                                content: '';
                                left: 47%;
                                bottom: 5%;
                            }
                            & .slick-dots button {
                                padding: 0;
                                background-color: #fde3cc;
                                border: none;
                                height: 30px;
                                width: 30px;
                                border-radius: 50%;
                                color: #243f4d;
                                margin-right: 12px;
                                font-size: 11px;
                                @extend %Rubik-500;
                            }
                            & .slick-active button {
                                background-color: #ffffff;
                            }
                        }
                        
                        @media(max-width:1440px) {
                            .top-slider {
                                &__blog {
                                    &::after {
                                        width: 450px;
                                        height: 450px;
                                        top: -35%;
                                        right: 25%;
                                    }
                                }
                            }
                        }
                        
                        @media(max-width:1199px) {
                            .top-slider {
                                &__content {
                                    margin-left: 10px;
                                }
                                &__title {
                                    font-size: 60px;
                                }
                                &__blog {
                                    &::after {
                                        content: none;
                                    }
                                }
                                & .slick-slide {
                                    min-height: 620px;
                                }
                            }
                        }
                        
                        @media(max-width:767px) {
                            .top-slider {
                                &__title {
                                    font-size: 40px;
                                }
                                &__content p {
                                    font-size: 11px;
                                }
                                &__link {
                                    &::after {
                                        top: 22px;
                                    }
                                }
                                & .slick-slide {
                                    min-height: 450px;
                                }
                            }
                        }
                        
                        @media(max-width:600px) {
                            .top-slider {
                                &__title {
                                    font-size: 30px;
                                }
                                &__content p {
                                    font-size: 11px;
                                    margin-bottom: 20px;
                                }
                                &__item {
                                    display: inline-block !important;
                                }
                                &__blog {
                                    margin-top: 15px;
                                }
                                &__img {
                                    max-height: 150px;
                                }
                                & .slick-dots {
                                    left: 33%;
                                }
                            }
                        }