                .design {
                    padding: 40px 0 60px;
                    &__list {
                        text-align: center;
                        margin-bottom: 80px;
                    }
                    &__btn:not(:last-child) {
                        margin-right: 25px;
                    }
                    &__items {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        grid-column-gap: 30px;
                        grid-row-gap: 35px;
                        @media(max-width: 1199px) {
                            grid-template-columns: repeat(2, 1fr);
                        }
                        @media(max-width:767px) {
                            grid-column-gap: 15px;
                            grid-row-gap: 25px;
                        }
                        @media(max-width:600px) {
                            grid-template-columns: repeat(1, 1fr);
                        }
                    }
                    &__item {
                        width: 372px;
                        height: 248px;
                        background-color: #f8f8f8;
                        padding: 32px 0 0 35px;
                        overflow: hidden;
                        @media(max-width: 767px) {
                            width: 280px;
                            height: 204px;
                            padding: 20px 0 10px;
                        }
                        @media(max-width:600px) {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                        }
                        @media(max-width:440px) {
                            justify-content: left;
                        }
                    }
                    &__descr {
                        display: block;
                        font-weight: 700;
                        color: #191919;
                        font-size: 20px;
                        max-width: 190px;
                        margin-bottom: 15px;
                    }
                    &__status {
                        font-weight: 700;
                        font-size: 16px;
                        color: #a3bbc8;
                    }
                    &__link {
                        position: relative;
                        &::after {
                            position: absolute;
                            content: '';
                            height: 135px;
                            width: 360px;
                            background-repeat: no-repeat;
                            background-size: contain;
                            top: -20px;
                            @media(max-width: 767px) {
                                width: 240px;
                            }
                        }
                        &--1::after {
                            background-image: url(../images/main/design/1.png);
                        }
                        &--2::after {
                            background-image: url(../images/main/design/2.png);
                            top: -10px;
                            height: 120px;
                        }
                        &--3::after {
                            background-image: url(../images/main/design/3.png);
                            top: -43px;
                            left: 110px;
                        }
                        &--4::after {
                            background-image: url(../images/main/design/4.png);
                            left: 15px;
                        }
                        &--5::after {
                            background-image: url(../images/main/design/5.png);
                            height: 180px;
                            top: -64px;
                            left: 108px;
                        }
                        &--6::after {
                            background-image: url(../images/main/design/6.png);
                            left: 18px;
                            height: 115px;
                            top: 0;
                        }
                    }
                }