.insights {
    position: relative;
    @media(max-width: 600px) {
        padding-left: 0;
    }
    &::before {
        position: absolute;
        content: '';
        height: 440px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #fef7f0;
        z-index: -1;
        bottom: -15px;
    }
    padding: 47px 15px;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17px;
        @media(max-width: 600px) {
            display: block;
        }
    }
    &__link {
        font-weight: 700;
        font-size: 16px;
        color: #262626;
        margin-right: 27px;
        position: relative;
        &:hover,
        &:focus {
            opacity: 0.7;
        }
        &:active {
            color: #000;
        }
        &::after {
            position: absolute;
            content: '';
            height: 12px;
            width: 7px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../images/icons/arrow-insights.svg);
            left: 80px;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }
    &__item {
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        background-color: #fff;
        @media(max-width: 1199px) {
            margin-right: 15px;
            width: 310px;
        }
        @media(max-width:767px) {
            width: 100%;
        }
        @media(max-width:600px) {
            width: 90%;
        }
        &::before {
            position: absolute;
            content: 'news';
            padding: 5px 30px;
            background-color: #a3bbc8;
            border-radius: 25%;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            top: 57%;
            right: 65%;
            @media(max-width: 1199px) {
                content: none;
            }
        }
        & p {
            max-width: 320px;
            padding: 35px 0 12px 30px;
            color: #262626;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            @media(max-width: 1199px) {
                font-size: 14px;
                margin-bottom: 10px;
            }
            @media(max-width:991px) {
                padding: 20px 0 15px 15px;
            }
        }
    }
    &__about {
        border-top: 1px solid #e0e0e0;
        padding: 11px 0 0 46px;
        @extend %Rubik-400;
        @extend %text-wrap;
        font-size: 12px;
        line-height: 2.1;
        margin-bottom: 12px;
    }
    &__text {
        display: inline-block;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            height: 9px;
            width: 6px;
            bottom: 9px;
            left: -11px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../images/icons/icon-hz.png);
        }
    }
    &__text:not(:last-child) {
        margin-right: 44px;
    }
    &__slider {
        text-align: -webkit-center;
    }
    &__inner {
        margin-left: 35px;
        @media(max-width: 767px) {
            margin-left: 0;
        }
        & .slick-track {
            display: flex;
            align-items: center;
        }
    }
}