.product {
    padding: 61px 0 55px;
    &__title {
        @media(max-width: 600px) {
            font-size: 30px;
        }
    }
    &__filter-btns {
        text-align: center;
        margin-bottom: 80px;
    }
    &__btn:not(:last-child) {
        margin-right: 25px;
        @media(max-width: 600px) {
            margin-right: 35px;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
        margin-bottom: 186px;
        @media(max-width: 1199px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media(max-width:767px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media(max-width:600px) {
            grid-column-gap: 20px;
            grid-row-gap: 30px;
        }
    }
    &__item {
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        height: 380px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-bottom: 38px;
        position: relative;
        @media(max-width: 767px) {
            height: 310px;
        }
        @media(max-width:600px) {
            padding-bottom: 10px;
            height: 280px;
        }
    }
    &__item:hover &__icons {
        display: flex;
    }
    &__icons {
        position: absolute;
        top: 53%;
        display: none;
    }
    &__pic {
        background-color: #ffffff;
        height: 52px;
        width: 52px;
        border-radius: 50%;
        margin-right: 16px;
        transition: background-color .3s;
        position: relative;
        display: inline-block;
        border: 1px solid #a3bbc8;
        &:hover {
            background-color: #a3bbc8;
        }
        &:hover .user-nav__img {
            fill: #ffffff;
        }
    }
    &__link {
        height: 100%;
        display: flex;
        flex-direction: column;
        max-width: 230px;
        @media(max-width: 600px) {
            height: 80%;
        }
    }
    &__img {
        margin: auto 0;
        @media(max-width: 600px) {
            max-width: 80%;
        }
    }
    &__box {
        margin-top: auto;
    }
    &__name {
        font-size: 16px;
        color: #243f4d;
        @extend %text-wrap;
    }
    &__price {
        @extend %DMSans-700;
        font-size: 16px;
        color: #a3bbc8;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        @media(max-width: 1800px) {
            justify-content: center;
        }
        @media(max-width:991px) {
            flex-wrap: wrap;
        }
    }
    &__lamp {
        min-height: 393px;
        min-width: 872px;
        background-color: #feefe2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #243f4d;
        @media(max-width: 1800px) {
            min-width: 45%;
            margin-right: 20px;
        }
        @media(max-width:1199px) {
            min-height: 310px;
        }
        @media(max-width:991px) {
            margin-bottom: 30px;
            min-width: 100%;
        }
    }
    &__about {
        margin: 15px 0 0 250px;
        position: relative;
        @media(max-width: 1800px) {
            margin-right: 30px;
        }
        @media(max-width:440px) {
            margin: 15px 0 0 50px;
        }
        &::before {
            position: absolute;
            content: '';
            height: 405px;
            width: 234px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../images/lamp-1.png);
            bottom: 0;
            right: 104%;
            max-width: 250px;
            @media(max-width: 991px) {
                right: 90%;
            }
            @media(max-width: 1199px) {
                height: 255px;
            }
            @media(max-width:600px) {
                height: 210px;
            }
            @media(max-width:440px) {
                content: none;
            }
        }
        &--second {
            align-items: flex-end;
            margin-right: -96px;
            &::before {
                background-image: url(../images/lamp-2.png);
                right: 116%;
                bottom: 4%;
            }
        }
    }
    &__subtitle {
        font-size: 700px;
        line-height: 1.2;
        font-size: 26px;
        max-width: 270px;
        margin-bottom: 16px;
        @extend %text-wrap;
        @media(max-width: 1199px) {
            font-size: 22px;
        }
        @media(max-width:600px) {
            font-size: 18px;
        }
    }
    &__info {
        @extend %Rubik-400;
        font-size: 16px;
        line-height: 1.9;
        max-width: 350px;
        margin-bottom: 25px;
        @extend %text-wrap;
        -webkit-line-clamp: 5;
        @media(max-width: 1199px) {
            font-size: 14px;
        }
        @media(max-width:600px) {
            font-size: 12px;
        }
    }
    &__ref {
        padding: 22px 70px 22px 22px;
        border: 1px solid #b3b7b5;
        display: inline-block;
        border-radius: 8%;
        @extend %Rubik-500;
        color: #436372;
        cursor: pointer;
        @extend %text-wrap;
        @media(max-width: 600px) {
            padding: 12px 35px 11px 20px;
            font-size: 14px;
        }
        &:hover,
         :focus {
            opacity: 0.7;
        }
        &:active {
            background-color: #b3b7b5;
        }
    }
}