.video {
    padding: 50px 0 60px;
    &__watch {
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 500px;
        position: relative;
        background-size: cover;
        &::before {
            position: absolute;
            content: '';
            background-image: url(../images/icons/play-icon.svg);
            height: 130px;
            width: 130px;
            top: 37%;
            right: 50%;
            transform: translateX(50%);
        }
    }
}