.video {
    padding: 50px 0 60px;
    &__watch {
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 500px;
        position: relative;
        background-size: cover;
        @media(max-width: 767px) {
            min-height: 420px;
        }
        @media(max-width:440px) {
            padding: 0;
        }
        &::before {
            position: absolute;
            content: '';
            background-image: url(../images/icons/play-icon.svg);
            background-size: contain;
            background-repeat: no-repeat;
            height: 130px;
            width: 130px;
            top: 37%;
            right: 50%;
            transform: translateX(50%);
            @media(max-width: 767px) {
                height: 100px;
            }
            @media(max-width:440px) {
                height: 80px;
                right: 42%;
            }
        }
    }
}