.about {
    padding: 45px 0 200px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        height: 125px;
        background-color: #edf1f4;
        z-index: -1;
    }
    &__title {
        text-align: center;
        color: #4c4c4c;
        @extend %Rubik-300;
        font-size: 36px;
        line-height: 1.5;
        @extend %text-wrap;
    }
    &__subtitle {
        display: block;
        text-align: center;
        color: #222933;
        font-size: 14px;
        line-height: 1.4;
        @extend %Rubik-400;
        @extend %text-wrap;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 150px;
    }
    &__pic {
        background-image: url(../../images/about/bg-img.png);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: contain;
        height: 680px;
        width: 49%;
    }
    &__inner {
        max-width: 550px;
        padding-top: 46px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 280px;
        margin-bottom: 8px;
    }
    &__num {
        @extend %Rubik-700;
        font-size: 140px;
        color: #a3bbc8;
        @extend %text-wrap;
    }
    &__about {
        max-width: 100px;
        color: #243f4d;
        padding-top: 22px;
        @extend %Rubik-500;
        @extend %text-wrap;
    }
    &__info {
        line-height: 2;
        font-size: 16px;
        @extend %Rubik-500;
        @extend %text-wrap;
    }
    &__name {
        @extend %DMSans-700;
        font-size: 36px;
        line-height: 1;
        margin-bottom: 33px;
        @extend %text-wrap;
    }
    &__text {
        margin-bottom: 85px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 500px;
            background-color: #ebeef3;
            bottom: -57px;
        }
        & p {
            font-size: 16px;
            @extend %Rubik-500;
            line-height: 2;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
    }
    &__progress {
        max-width: 100px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            height: 40px;
            width: 40px;
            background-size: contain;
            right: 115px;
            top: 8px;
        }
        &--progect::before {
            background-image: url(../../images/icons/about/1.svg);
            background-repeat: no-repeat;
        }
        &--revenue::before {
            background-image: url(../../images/icons/about/2.svg);
            background-repeat: no-repeat;
        }
        &--awards::before {
            background-image: url(../../images/icons/about/3.svg);
            background-repeat: no-repeat;
        }
    }
    &__progress:not(:last-child) {
        border-right: 1px solid #e6eaf0;
    }
    &__amount {
        font-size: 36px;
    }
}