.about {
    padding: 45px 0 100px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        height: 125px;
        background-color: #edf1f4;
        z-index: -1;
    }
    &::after {
        position: absolute;
        content: '';
        bottom: 27px;
        left: 0;
        right: 0;
        background-color: #fcd7b6;
        height: 320px;
        z-index: -1;
        @media(max-width: 767px) {
            bottom: 30px;
        }
        @media(max-width: 360px) {
            bottom: 50px;
        }
    }
    &__title {
        text-align: center;
        color: #4c4c4c;
        @extend %Rubik-300;
        font-size: 36px;
        line-height: 1.3;
        @extend %text-wrap;
    }
    &__subtitle {
        display: block;
        text-align: center;
        color: #222933;
        font-size: 14px;
        line-height: 1.4;
        @extend %Rubik-400;
        @extend %text-wrap;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 150px 0 280px;
        @media(max-width: 1199px) {
            padding: 70px 0 200px;
        }
        @media(max-width: 600px) {
            padding: 20px 0 100px;
        }
    }
    &__pic {
        background-image: url(../../images/about/bg-img.png);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: contain;
        height: 680px;
        width: 49%;
        @media(max-width: 1199px) {
            margin-right: 20px;
            width: 40%;
        }
        @media(max-width: 991px) {
            display: none;
        }
    }
    &__inner {
        max-width: 550px;
        padding-top: 46px;
        @media(max-width: 991px) {
            max-width: 100%;
        }
        @media(max-width: 600px) {
            padding: 0;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 267px;
        margin-bottom: 8px;
    }
    &__num {
        @extend %Rubik-700;
        font-size: 140px;
        color: #a3bbc8;
        @extend %text-wrap;
    }
    &__about {
        max-width: 100px;
        color: #243f4d;
        padding-top: 22px;
        @extend %Rubik-500;
        @extend %text-wrap;
    }
    &__info {
        line-height: 2;
        font-size: 16px;
        @extend %Rubik-500;
        @extend %text-wrap;
    }
    &__name {
        @extend %DMSans-700;
        font-size: 36px;
        line-height: 1;
        margin-bottom: 35px;
        @extend %text-wrap;
    }
    &__text {
        margin-bottom: 93px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 500px;
            background-color: #ebeef3;
            bottom: -57px;
            @media(max-width: 600px) {
                content: none;
            }
        }
        & p {
            font-size: 16px;
            @extend %Rubik-500;
            line-height: 1.9;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        margin-left: 56px;
        flex-wrap: wrap;
        @media(max-width: 991px) {
            max-width: 550px;
        }
        @media(max-width: 600px) {
            max-width: 550px;
            justify-content: center;
            margin-left: 0;
        }
    }
    &__progress {
        max-width: 100px;
        position: relative;
        @media(max-width: 600px) {
            margin: 0 20px 20px 0;
        }
        &::before {
            position: absolute;
            content: '';
            height: 40px;
            width: 40px;
            background-size: contain;
            right: 115px;
            top: 8px;
            background-repeat: no-repeat;
            @media (max-width: 600px) {
                content: none;
            }
        }
        &--progect::before {
            background-image: url(../../images/icons/about/1.svg);
        }
        &--revenue::before {
            background-image: url(../../images/icons/about/2.svg);
        }
        &--awards::before {
            background-image: url(../../images/icons/about/3.svg);
        }
    }
    &__progress:not(:last-child) {
        border-right: 1px solid #e6eaf0;
        @media (max-width: 600px) {
            border-right: none;
        }
    }
    &__amount {
        font-size: 36px;
    }
    &__benefits {
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-weight: 700;
        flex-wrap: wrap;
    }
    &__box {
        position: relative;
        @media (max-width: 767px) {
            margin-right: 15px;
            margin-bottom: 15px;
        }
        &::before {
            position: absolute;
            content: '';
            height: 70px;
            width: 65px;
            background-repeat: no-repeat;
            background-size: contain;
            top: -75px;
            left: 34px;
            @media (max-width: 767px) {
                content: none;
            }
        }
        &::after {
            position: absolute;
            content: '';
            height: 34px;
            width: 34px;
            border-radius: 50%;
            background-color: #a3bbc8;
            top: -47px;
            left: 70px;
            opacity: 0.9;
            @media (max-width: 767px) {
                content: none;
            }
        }
        &--rate::before {
            background-image: url(../../images/icons/about/rating.svg);
        }
        &--delivery::before {
            background-image: url(../../images/icons/about/delivery.svg);
            top: -66px;
            left: 21px;
        }
        &--pluses::before {
            background-image: url(../../images/icons/about/time.svg);
        }
        &--brand::before {
            background-image: url(../../images/icons/about/medal.svg);
            top: -81px;
            left: 37px;
        }
    }
    &__statistic {
        font-size: 36px;
        line-height: 1.1;
        display: inherit;
        margin-bottom: 20px;
        @media (max-width: 600px) {
            font-size: 30px;
            margin-bottom: 10;
        }
        @media(max-width: 360px) {
            font-size: 26px;
        }
    }
    &__plus {
        @media (max-width: 600px) {
            font-size: 14px;
        }
    }
}

.breadcrumbs {
    &__list {
        display: flex;
        justify-content: center;
        position: relative;
        &::before {
            position: absolute;
            content: '/';
            right: 50%;
            transform: translate(-50%);
            color: #9a9ea2;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    &__link {
        color: #9a9ea2;
        @extend %Rubik-500;
        font-size: 14px;
        line-height: 1.7;
    }
}