.about {
    padding: 45px 0 100px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        height: 125px;
        background-color: #edf1f4;
        z-index: -1;
    }
    &::after {
        position: absolute;
        content: '';
        bottom: 27px;
        left: 0;
        right: 0;
        background-color: #fcd7b6;
        height: 320px;
        z-index: -1;
    }
    &__title {
        text-align: center;
        color: #4c4c4c;
        @extend %Rubik-300;
        font-size: 36px;
        line-height: 1.5;
        @extend %text-wrap;
    }
    &__subtitle {
        display: block;
        text-align: center;
        color: #222933;
        font-size: 14px;
        line-height: 1.4;
        @extend %Rubik-400;
        @extend %text-wrap;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 150px 0 280px;
    }
    &__pic {
        background-image: url(../../images/about/bg-img.png);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: contain;
        height: 680px;
        width: 49%;
    }
    &__inner {
        max-width: 550px;
        padding-top: 46px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 280px;
        margin-bottom: 8px;
    }
    &__num {
        @extend %Rubik-700;
        font-size: 140px;
        color: #a3bbc8;
        @extend %text-wrap;
    }
    &__about {
        max-width: 100px;
        color: #243f4d;
        padding-top: 22px;
        @extend %Rubik-500;
        @extend %text-wrap;
    }
    &__info {
        line-height: 2;
        font-size: 16px;
        @extend %Rubik-500;
        @extend %text-wrap;
    }
    &__name {
        @extend %DMSans-700;
        font-size: 36px;
        line-height: 1;
        margin-bottom: 33px;
        @extend %text-wrap;
    }
    &__text {
        margin-bottom: 85px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 500px;
            background-color: #ebeef3;
            bottom: -57px;
        }
        & p {
            font-size: 16px;
            @extend %Rubik-500;
            line-height: 2;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
    }
    &__progress {
        max-width: 100px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            height: 40px;
            width: 40px;
            background-size: contain;
            right: 115px;
            top: 8px;
            background-repeat: no-repeat;
        }
        &--progect::before {
            background-image: url(../../images/icons/about/1.svg);
        }
        &--revenue::before {
            background-image: url(../../images/icons/about/2.svg);
        }
        &--awards::before {
            background-image: url(../../images/icons/about/3.svg);
        }
    }
    &__progress:not(:last-child) {
        border-right: 1px solid #e6eaf0;
    }
    &__amount {
        font-size: 36px;
    }
    &__benefits {
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-weight: 700;
    }
    &__box {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            height: 70px;
            width: 65px;
            background-repeat: no-repeat;
            background-size: contain;
            top: -75px;
            left: 34px;
        }
        &::after {
            position: absolute;
            content: '';
            height: 34px;
            width: 34px;
            border-radius: 50%;
            background-color: #a3bbc8;
            top: -47px;
            left: 70px;
            opacity: 0.9;
        }
        &--rate::before {
            background-image: url(../../images/icons/about/rating.svg);
        }
        &--delivery::before {
            background-image: url(../../images/icons/about/delivery.svg);
            top: -66px;
            left: 21px;
        }
        &--pluses::before {
            background-image: url(../../images/icons/about/time.svg);
        }
        &--brand::before {
            background-image: url(../../images/icons/about/medal.svg);
            top: -81px;
            left: 37px;
        }
    }
    &__statistic {
        font-size: 36px;
        line-height: 1.1;
        display: inherit;
        margin-bottom: 20px;
    }
}

.team {
    padding: 96px 0 70px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        margin-bottom: 30px;
        color: #243f4d;
        text-align: left;
    }
    &__text {
        max-width: 300px;
        line-height: 2;
        margin-bottom: 30px;
    }
    &__link {
        @extend %Poppins-600;
        font-size: 15px;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        background-color: #fdfdfd;
    }
    &__item {
        min-height: 380px;
    }
    &__box {
        height: 110px;
        width: 300px;
        background-color: #ffffff;
        margin-top: -40px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        padding-left: 25px;
    }
    &__name {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.2;
    }
    &__vacancy {
        font-size: 16px;
        @extend %Rubik-500;
    }
}