.team {
    padding: 96px 0 68px;
    @media (max-width: 1199px) {
        padding: 50px 0 50px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__items {
        margin-left: -5px;
        @media (max-width: 1199px) {
            width: 100%;
            text-align: center;
        }
    }
    &__title {
        margin-bottom: 19px;
        color: #243f4d;
        text-align: left;
        @media (max-width: 1199px) {
            text-align: center;
        }
    }
    &__text {
        max-width: 320px;
        line-height: 1.9;
        margin-bottom: 33px;
        font-size: 16px;
        @extend %Rubik-500;
        @media (max-width: 1199px) {
            max-width: 90%;
        }
    }
    &__link {
        @extend %Poppins-600;
        font-size: 15px;
        padding: 20px 59px 18px 18px;
        @media (max-width: 1199px) {
            margin-bottom: 20px;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
        background-color: #fdfdfd;
        @media (max-width: 1199px) {
            width: 100%;
        }
        @media (max-width: 767px) {
            width: 90%;
            grid-column-gap: 0;
            grid-row-gap: 25px;
        }
        @media (max-width: 520px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 40px;
        }
    }
    &__item {
        min-height: 380px;
        @media (max-width: 1199px) {
            max-width: 75%;
            min-height: 320px;
        }
        @media (max-width: 767px) {
            min-height: 280px;
            max-width: 90%;
        }
    }
    &__box {
        height: 97px;
        width: 327px;
        background-color: #ffffff;
        margin-top: -46px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        padding-left: 25px;
        position: relative;
        @media (max-width: 767px) {
            width: 250px;
        }
    }
    &__name {
        font-size: 22px;
        font-weight: 700;
        line-height: 2.4;
    }
    &__vacancy {
        font-size: 16px;
        @extend %Rubik-500;
    }
    &__dot,
    &__dot2 {
        position: absolute;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #f6f6f6;
        right: 70px;
        top: 35px;
        &:hover,
        &:focus {
            opacity: 0.7;
        }
        &:active {
            background-color: #fff;
        }
        &::after {
            content: '';
            position: absolute;
            width: 17px;
            height: 17px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../../images/icons/about/instagram.svg);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @media (max-width: 767px) {
            left: 25px;
            top: 86px;
        }
    }
    &__dot2 {
        right: 24px;
        &::after {
            width: 24px;
            height: 14px;
            background-image: url(../../images/icons/about/google.svg);
        }
        @media (max-width: 767px) {
            left: 80px;
        }
    }
}