html {
    height: 100%;
}

body {
    color: #243f4d;
    font-size: 18px;
    @extend %DMSans-500;
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: #fff;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    &--sm {
        max-width: 1200px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    border: none;
    cursor: pointer;
    outline: transparent;
}

link,
a,
input {
    outline: transparent;
}

.button {
    @extend %Rubik-500;
    font-size: 15px;
    line-height: 0.9;
    color: #fff;
    background-color: #a3bbc8;
    padding: 23px 100px 23px 30px;
    display: inline-block;
    @extend %text-wrap;
    &:hover,
    &:focus {
        opacity: 0.7;
    }
    &:active {
        background-color: #373CEB;
    }
}

.titles {
    text-align: center;
    margin-bottom: 22px;
    @extend %DMSans-700;
    font-size: 36px;
    color: #191919;
    @extend %text-wrap;
}

.title {
    font-weight: 700;
    margin-bottom: 30px;
}

.filter-btn {
    border: none;
    background-color: transparent;
    @extend %DMSans-700;
    font-size: 16px;
    color: #8b8b8b;
    padding: 0;
    cursor: pointer;
    &:focus,
    &:hover {
        opacity: 0.7;
    }
    &:active {
        color: #000;
    }
}

img {
    object-fit: cover;
}

@media(max-width:767px) {
    .button {
        font-size: 11px;
        padding: 20px 100px 20px 19px
    }
    .titles {
        font-size: 30px;
    }
}

@media(max-width:440px) {
    .titles {
        font-size: 26px;
    }
}