%DMSans-700 {
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
}

%DMSans-500 {
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
}

%DMSans-400 {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}

%Rubik-700 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

%Rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%Rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%text-wrap {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

%color {
    color: #7b7b7b;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}