@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'media';
.header {
    padding: 52px 0 25px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    max-width: 200px;
    &__img {
        max-width: 100%;
    }
}

.menu {
    margin-bottom: 7px;
    &__list {
        display: flex;
        margin-left: 143px;
    }
    &__item:not(:last-child) {
        margin-right: 35px;
    }
    &__link {
        @extend %Rubik-500;
        color: #436372;
        font-size: 15px;
        line-height: 1.3;
        &:hover,
        &:focus {
            opacity: 0.7;
            outline: transparent;
        }
        &:active {
            color: #000;
        }
    }
}

.user-nav {
    display: flex;
    &__search {
        background-color: #edf1f4;
        height: 52px;
        width: 52px;
        border-radius: 50%;
        margin-right: 14px;
        transition: background-color .3s;
        position: relative;
        &::before {
            background-image: url(../images/icons/search-icon.svg);
            right: 33%;
            top: 55%;
        }
        &:hover {
            background-color: #a3bbc8;
        }
    }
    &__like {
        background-color: #fcd7b6;
        height: 52px;
        width: 90px;
        border-radius: 30% 0 0 30%;
        position: relative;
        border-right: 1px solid #fde7d3;
        transition: background-color .3s;
        &::before {
            background-image: url(../images/icons/like-icon.svg);
            top: 55%;
            left: 40%;
        }
        &:hover {
            background-color: #E6B960;
        }
    }
    &__shopping {
        background-color: #fcd7b6;
        height: 52px;
        width: 90px;
        border-radius: 0 30% 30% 0;
        margin-right: 20px;
        position: relative;
        transition: background-color .3s;
        &::before {
            background-image: url(../images/icons/shopping-icon.svg);
            right: 40%;
            top: 55%;
        }
        &:hover {
            background-color: #E6B960;
        }
    }
    &__search::before,
    &__like::before,
    &__shopping::before,
    &__points::before {
        position: absolute;
        content: '';
        width: 17px;
        height: 17px;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateY(-50%);
    }
    &__points {
        background-color: #edf1f4;
        height: 52px;
        width: 52px;
        border-radius: 50%;
        transition: background-color .3s;
        position: relative;
        &::before {
            background-image: url(../images/icons/points-icon.svg);
            width: 21px;
            height: 21px;
            right: 29%;
            top: 50%;
        }
        &:hover {
            background-color: #a3bbc8;
        }
    }
    &__num {
        @extend %DMSans-400;
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        top: 20%;
        left: 56%;
        font-size: 10px;
        text-align: center;
        line-height: 1.4;
    }
}

.top-slider {
    padding-top: 25px;
    &__inner {
        display: flex;
        background-color: #fcd7b6;
        min-height: 820px;
        align-items: center;
    }
    &__item {
        display: flex !important;
        max-width: 1170px;
        margin: 0 auto;
    }
    &__content {
        margin-top: -65px;
        max-width: 530px;
        & p {
            @extend %Rubik-400;
            font-size: 18px;
            line-height: 1.6;
            color: #436372;
            margin-bottom: 50px;
            max-width: 370px;
            @extend %text-wrap;
        }
    }
    &__title {
        @extend %text-wrap;
        @extend %Rubik-500;
        font-size: 72px;
        line-height: 1;
        color: #243f4d;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &__link {
        position: relative;
    }
    &__link::after {
        position: absolute;
        content: '';
        background-image: url(../images/icons/arrow.svg);
        background-repeat: no-repeat;
        height: 10px;
        width: 25px;
        right: 20px;
        top: 28px;
    }
    &__blog {
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            border-radius: 50%;
            background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            position: absolute;
            width: 634px;
            height: 634px;
            z-index: -1;
            top: -80%;
            right: -16%;
        }
    }
}

.slick-dots {
    display: flex;
    position: absolute;
    content: '';
    left: 47%;
    bottom: 5%;
}

.slick-dots button {
    padding: 0;
    background-color: #fde3cc;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #243f4d;
    margin-right: 12px;
    font-size: 11px;
    @extend %Rubik-500;
}

.slick-active button {
    background-color: #ffffff;
}

.slick-initialized .slick-slide {
    display: flex;
    min-height: 825px;
    flex-direction: column;
    justify-content: center;
}

.positives {
    &__inner {
        padding: 40px 0 40px !important;
        display: flex;
        justify-content: space-around;
        background-color: #fef7f0;
    }
    &__item {
        margin-left: 200px;
        min-width: 345px;
    }
    &__item:not(:last-child) {
        border-right: 1px solid #e8e4df;
    }
    &__title {
        @extend %DMSans-700;
        line-height: 2.2;
        color: #414141;
        font-size: 18px;
        @extend %text-wrap;
    }
    &__text {
        max-width: 205px;
        @extend %DMSans-400;
        font-size: 16px;
        color: #585858;
        line-height: 1.9;
        @extend %text-wrap;
        &--width {
            max-width: 220px;
        }
    }
    &__item--support {
        position: relative;
        &::before {
            background-image: url(../images/icons/hours.svg);
            left: -76px;
            top: 7px;
        }
    }
    &__item--delivery {
        position: relative;
        &::before {
            background-image: url(../images/icons/truck.svg);
            top: 16px;
            left: -82px;
        }
    }
    &__item--secure {
        position: relative;
        &::before {
            background-image: url(../images/icons/img.svg);
            top: 7px;
            left: -76px;
        }
    }
    &__item--support::before,
    &__item--delivery::before,
    &__item--secure::before {
        position: absolute;
        content: '';
        height: 55px;
        width: 55px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.product {
    padding: 53px 0 190px;
    &__filter-btns {
        text-align: center;
        margin-bottom: 80px;
    }
    &__btn:not(:last-child) {
        margin-right: 25px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }
    &__item {
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        height: 380px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-bottom: 38px;
        position: relative;
    }
    &__item:hover &__icons {
        display: block;
    }
    &__icons {
        position: absolute;
        top: 53%;
        display: none;
    }
    &__search,
    &__shop,
    &__like {
        background-color: #EAFAF3;
        height: 52px;
        width: 52px;
        border-radius: 50%;
        margin-right: 16px;
        transition: background-color .3s;
        position: relative;
    }
    &__search:hover,
    &__shop:hover,
    &__like:hover {
        background-color: #a3bbc8;
    }
    &__icon {
        display: inline-block;
    }
    &__search::before {
        background-image: url(../images/icons/search-icon.svg);
    }
    &__shop::before {
        background-image: url(../images/icons/shopping-icon.svg);
    }
    &__like::before {
        background-image: url(../images/icons/like-icon.svg);
    }
    &__search::before,
    &__shop::before,
    &__like::before {
        position: absolute;
        content: '';
        width: 17px;
        height: 17px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 33%;
        left: 30%;
    }
    &__link {
        height: 100%;
        display: flex;
        flex-direction: column;
        max-width: 230px;
    }
    &__img {
        margin: auto 0;
    }
    &__box {
        margin-top: auto;
    }
    &__name {
        font-size: 16px;
        color: #243f4d;
        @extend %text-wrap;
    }
    &__price {
        @extend %DMSans-700;
        font-size: 16px;
        color: #a3bbc8;
    }
}

.mixitup-control-active {
    color: #191919;
}

.video {
    padding: 60px 0 60px;
    &__watch {
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 500px;
        position: relative;
        background-size: cover
    }
    &__watch::before {
        position: absolute;
        content: '';
        background-image: url(../images/icons/play-icon.svg);
        height: 130px;
        width: 130px;
        top: 37%;
        right: 50%;
        transform: translateX(50%);
    }
}

.footer-top {
    padding: 80px 0 70px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    &--contact {
        margin-right: 90px;
        max-width: 210px;
        color: #7b7b7b;
    }
    &--nav {
        width: 158px;
        margin-right: 139px;
    }
    &__link {
        font-size: 14px;
        @extend %Rubik-400;
        line-height: 2.3;
        color: #7b7b7b;
        &:hover,
        &:focus {
            opacity: 0.7;
        }
        &:active {
            color: #000;
        }
    }
    &__items--form {
        max-width: 290px
    }
    &__logo {
        margin-bottom: 20px;
        display: block;
    }
    &__title {
        margin-bottom: 13px;
        color: #1f2044;
        @extend %DMSans-700;
        font-size: 16px;
        line-height: 1.3;
        text-transform: uppercase;
        padding-top: 20px;
    }
    &__adress,
    &__phone,
    &__email {
        font-size: 14px;
        @extend %Rubik-400;
        line-height: 2.2;
        color: #7b7b7b;
        &:hover,
        &:focus {
            opacity: 0.7;
        }
        &:active {
            color: #000
        }
    }
    &__text {
        @extend %Rubik-400;
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 35px;
        max-width: 240px;
        @extend %text-wrap;
    }
    &__form {
        display: inline;
    }
    &__form-input {
        max-width: 170px;
        width: 100%;
        max-height: 40px;
        background-color: #fef7f0;
        border: none;
        padding: 15px;
    }
    &__form-input::placeholder {
        @extend %DMSans-400;
        font-size: 12px;
        color: #234969;
        outline: transparent;
    }
    &__form-btn {
        border: none;
        background-color: #a3bbc8;
        color: #fff;
        padding: 12px 18px;
        @extend %DMSans-400;
        font-size: 14px;
        cursor: pointer;
        &:hover,
        &:focus {
            opacity: 0.7;
        }
        &:active {
            background-color: #373CEB;
        }
    }
}

.footer-bottom {
    padding: 36px 0 36px;
    display: flex;
    justify-content: space-between;
    @extend %Rubik-500;
    font-size: 14px;
    color: #7b7b7b;
    &__list {
        display: flex;
    }
    &__link {
        @extend %Rubik-500;
        font-size: 14px;
        color: #7b7b7b;
        &:hover,
        &:focus {
            opacity: 0.7;
        }
        &:active {
            color: #000;
        }
    }
    &__item:not(:last-child) {
        padding-right: 15px;
        margin-right: 15px;
        border-right: 1px solid #7b7b7b;
    }
}