@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'media';
@import '../scss/components/header';
@import '../scss/index/top-slider';
@import '../scss/index/positives';
@import '../scss/index/product';
@import '../scss/index/design';
@import '../scss/index/video';
@import '../scss/index/insights';
@import '../scss/components/footer';
@import '../scss/about/about';
@import '../scss/about/team';