@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'media';
.header {
    padding: 56px 0 22px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    max-width: 200px;
    &__img {
        max-width: 100%;
    }
}

.menu {
    margin-bottom: 7px;
    &__list {
        display: flex;
        margin-left: 143px;
    }
    &__item:not(:last-child) {
        margin-right: 35px;
    }
    &__link {
        @extend %Rubik-500;
        color: #436372;
        font-size: 15px;
        line-height: 1.3;
        &:hover,
        &:focus {
            opacity: 0.7;
            outline: transparent;
        }
        &:active {
            color: #000;
        }
    }
}

.user-nav {
    display: flex;
    &__item {
        &::before {
            position: absolute;
            content: '';
            width: 17px;
            height: 17px;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateY(-50%);
        }
        &--search {
            background-color: #edf1f4;
            height: 52px;
            width: 52px;
            border-radius: 50%;
            margin-right: 14px;
            transition: background-color .3s;
            position: relative;
            &::before {
                background-image: url(../images/icons/search-icon.svg);
                right: 33%;
                top: 57%;
            }
            &:hover {
                background-color: #a3bbc8;
            }
        }
        &--like {
            background-color: #fcd7b6;
            height: 52px;
            width: 90px;
            border-radius: 35% 0 0 35%;
            position: relative;
            border-right: 1px solid #fde7d3;
            transition: background-color .3s;
            &::before {
                background-image: url(../images/icons/like-icon.svg);
                top: 60%;
                left: 50%;
            }
            &:hover {
                background-color: #E6B960;
            }
        }
        &--shopping {
            background-color: #fcd7b6;
            height: 52px;
            width: 90px;
            border-radius: 0 35% 35% 0;
            margin-right: 20px;
            position: relative;
            transition: background-color .3s;
            &::before {
                background-image: url(../images/icons/shopping-icon.svg);
                right: 47%;
                top: 60%;
            }
            &:hover {
                background-color: #E6B960;
            }
        }
        &--points {
            background-color: #edf1f4;
            height: 52px;
            width: 52px;
            border-radius: 50%;
            transition: background-color .3s;
            position: relative;
            &::before {
                background-image: url(../images/icons/points-icon.svg);
                width: 21px;
                height: 21px;
                right: 29%;
                top: 50%;
            }
            &:hover {
                background-color: #a3bbc8;
            }
        }
    }
    &__num {
        @extend %DMSans-400;
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        top: 36%;
        left: 65%;
        font-size: 10px;
        text-align: center;
        line-height: 1.4;
    }
    &__item--span {
        left: 45%;
    }
}

.top-slider {
    padding-top: 25px;
    &__inner {
        display: flex;
        background-color: #fcd7b6;
        min-height: 820px;
        align-items: center;
    }
    &__item {
        display: flex !important;
        max-width: 1170px;
        margin: 0 auto;
    }
    &__content {
        margin-top: -65px;
        max-width: 530px;
        & p {
            @extend %Rubik-400;
            font-size: 18px;
            line-height: 1.6;
            color: #436372;
            margin-bottom: 40px;
            max-width: 370px;
            @extend %text-wrap;
        }
    }
    &__title {
        @extend %text-wrap;
        @extend %Rubik-500;
        font-size: 72px;
        line-height: 1;
        color: #243f4d;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__link {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            background-image: url(../images/icons/arrow.svg);
            background-repeat: no-repeat;
            height: 10px;
            width: 25px;
            right: 20px;
            top: 28px;
        }
    }
    &__blog {
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            border-radius: 50%;
            background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            position: absolute;
            width: 634px;
            height: 634px;
            z-index: -1;
            top: -80%;
            right: -16%;
        }
    }
}

.slick-dots {
    display: flex;
    position: absolute;
    content: '';
    left: 47%;
    bottom: 5%;
}

.slick-dots button {
    padding: 0;
    background-color: #fde3cc;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #243f4d;
    margin-right: 12px;
    font-size: 11px;
    @extend %Rubik-500;
}

.slick-active button {
    background-color: #ffffff;
}

.slick-initialized .slick-slide {
    display: flex;
    min-height: 825px;
    flex-direction: column;
    justify-content: center;
}

.positives {
    &__inner {
        padding: 27px 0 40px !important;
        display: flex;
        justify-content: space-around;
        background-color: #fef7f0;
        align-items: center;
    }
    &__item {
        margin-left: 200px;
        min-width: 345px;
    }
    &__item:not(:last-child) {
        border-right: 1px solid #e8e4df;
    }
    &__title {
        @extend %DMSans-700;
        line-height: 2.2;
        color: #414141;
        font-size: 18px;
        @extend %text-wrap;
    }
    &__text {
        max-width: 205px;
        @extend %DMSans-400;
        font-size: 16px;
        color: #585858;
        line-height: 1.9;
        @extend %text-wrap;
        &--width {
            max-width: 220px;
        }
    }
    &__item--support {
        position: relative;
        &::before {
            background-image: url(../images/icons/hours.svg);
            left: -76px;
            top: 7px;
        }
    }
    &__item--delivery {
        position: relative;
        &::before {
            background-image: url(../images/icons/truck.svg);
            top: 16px;
            left: -82px;
        }
    }
    &__item--secure {
        position: relative;
        &::before {
            background-image: url(../images/icons/img.svg);
            top: 7px;
            left: -76px;
        }
    }
    &__item::before {
        position: absolute;
        content: '';
        height: 55px;
        width: 55px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.product {
    padding: 61px 0 55px;
    &__filter-btns {
        text-align: center;
        margin-bottom: 80px;
    }
    &__btn:not(:last-child) {
        margin-right: 25px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
        margin-bottom: 186px;
    }
    &__item {
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        height: 380px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-bottom: 38px;
        position: relative;
    }
    &__item:hover &__icons {
        display: block;
    }
    &__icons {
        position: absolute;
        top: 53%;
        display: none;
    }
    &__pic {
        background-color: #EAFAF3;
        height: 52px;
        width: 52px;
        border-radius: 50%;
        margin-right: 16px;
        transition: background-color .3s;
        position: relative;
        display: inline-block;
        &::before {
            position: absolute;
            content: '';
            width: 17px;
            height: 17px;
            background-size: contain;
            background-repeat: no-repeat;
            top: 33%;
            left: 30%;
        }
        &:hover {
            background-color: #a3bbc8;
        }
        &--search::before {
            background-image: url(../images/icons/search-icon.svg);
        }
        &--shop::before {
            background-image: url(../images/icons/shopping-icon.svg);
        }
        &--like::before {
            background-image: url(../images/icons/like-icon.svg);
        }
    }
    &__link {
        height: 100%;
        display: flex;
        flex-direction: column;
        max-width: 230px;
    }
    &__img {
        margin: auto 0;
    }
    &__box {
        margin-top: auto;
    }
    &__name {
        font-size: 16px;
        color: #243f4d;
        @extend %text-wrap;
    }
    &__price {
        @extend %DMSans-700;
        font-size: 16px;
        color: #a3bbc8;
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__lamp {
        min-height: 393px;
        min-width: 872px;
        background-color: #feefe2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #243f4d;
    }
    &__about {
        margin: 15px 0 0 250px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            height: 405px;
            width: 234px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../images/lamp-1.png);
            bottom: 0;
            right: 104%;
            max-width: 250px;
        }
        &--second {
            align-items: flex-end;
            margin-right: -96px;
            &::before {
                background-image: url(../images/lamp-2.png);
                right: 116%;
                bottom: 4%;
            }
        }
    }
    &__subtitle {
        font-size: 700px;
        line-height: 1.2;
        font-size: 26px;
        max-width: 270px;
        margin-bottom: 16px;
        @extend %text-wrap;
    }
    &__info {
        @extend %Rubik-400;
        font-size: 16px;
        line-height: 1.9;
        max-width: 350px;
        margin-bottom: 25px;
        @extend %text-wrap;
    }
    &__ref {
        padding: 22px 70px 22px 22px;
        border: 1px solid #b3b7b5;
        display: inline-block;
        border-radius: 8%;
        @extend %Rubik-500;
        color: #436372;
        cursor: pointer;
        @extend %text-wrap;
        &:hover,
         :focus {
            opacity: 0.7;
        }
        &:active {
            background-color: #b3b7b5;
        }
    }
}

.mixitup-control-active {
    color: #191919;
}

.design {
    padding: 40px 0 60px;
    &__list {
        text-align: center;
        margin-bottom: 80px;
    }
    &__btn:not(:last-child) {
        margin-right: 25px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 35px;
    }
    &__item {
        width: 372px;
        height: 248px;
        background-color: #f8f8f8;
        padding: 32px 0 0 35px;
        overflow: hidden;
    }
    &__descr {
        display: block;
        font-weight: 700;
        color: #191919;
        font-size: 20px;
        max-width: 190px;
        margin-bottom: 15px;
    }
    &__status {
        font-weight: 700;
        font-size: 16px;
        color: #a3bbc8;
    }
    &__link {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            height: 135px;
            width: 360px;
            background-repeat: no-repeat;
            background-size: contain;
            top: -20px;
        }
        &--1::after {
            background-image: url(../images/main/design/1.png);
        }
        &--2::after {
            background-image: url(../images/main/design/2.png);
            top: -10px;
            height: 120px;
        }
        &--3::after {
            background-image: url(../images/main/design/3.png);
            top: -43px;
            left: 110px;
        }
        &--4::after {
            background-image: url(../images/main/design/4.png);
            left: 15px;
        }
        &--5::after {
            background-image: url(../images/main/design/5.png);
            height: 180px;
            top: -64px;
            left: 108px;
        }
        &--6::after {
            background-image: url(../images/main/design/6.png);
            left: 18px;
            height: 115px;
            top: 0;
        }
    }
}

.video {
    padding: 50px 0 60px;
    &__watch {
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 500px;
        position: relative;
        background-size: cover;
        &::before {
            position: absolute;
            content: '';
            background-image: url(../images/icons/play-icon.svg);
            height: 130px;
            width: 130px;
            top: 37%;
            right: 50%;
            transform: translateX(50%);
        }
    }
}

.insights {
    padding: 47px 15px;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &__link {
        font-weight: 700;
        font-size: 16px;
        color: #262626;
        margin-right: 27px;
        position: relative;
        &:hover,
        &:focus {
            opacity: 0.7;
        }
        &:active {
            color: #000;
        }
        &::after {
            position: absolute;
            content: '';
            height: 12px;
            width: 7px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../images/icons/arrow-insights.svg);
            left: 80px;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        &::before {
            position: absolute;
            content: 'news';
            padding: 5px 30px;
            background-color: #a3bbc8;
            border-radius: 25%;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            top: 59%;
            right: 65%;
        }
        & p {
            max-width: 320px;
            padding: 35px 0 15px 30px;
            color: #262626;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    &__about {
        border-top: 1px solid #e0e0e0;
        padding: 7px 0 0 40px;
        @extend %Rubik-400;
        @extend %text-wrap;
        font-size: 12px;
        line-height: 2.1;
    }
    &__text {
        display: inline-block;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            height: 9px;
            width: 6px;
            bottom: 9px;
            left: -11px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../images/icons/icon-hz.png);
        }
    }
    &__text:not(:last-child) {
        margin-right: 44px;
    }
}

.footer-top {
    padding: 80px 0 70px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    &--contact {
        margin-right: 90px;
        max-width: 210px;
        @extend %color;
    }
    &--nav {
        width: 158px;
        margin-right: 139px;
    }
    &__link {
        font-size: 14px;
        @extend %Rubik-400;
        line-height: 2.3;
        @extend %color;
        &:hover,
        &:focus {
            opacity: 0.7;
        }
        &:active {
            color: #000;
        }
    }
    &__items--form {
        max-width: 290px
    }
    &__logo {
        margin-bottom: 20px;
        display: block;
    }
    &__title {
        margin-bottom: 13px;
        color: #1f2044;
        @extend %DMSans-700;
        font-size: 16px;
        line-height: 2.9;
        text-transform: uppercase;
        padding-top: 20px;
    }
    &__contacts {
        font-size: 14px;
        @extend %Rubik-400;
        line-height: 2.2;
        @extend %color;
        max-width: 200px;
        &:hover,
        &:focus {
            opacity: 0.7;
        }
        &:active {
            color: #000
        }
    }
    &__text {
        @extend %Rubik-400;
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 40px;
        max-width: 240px;
        @extend %text-wrap;
    }
    &__form {
        display: inline;
    }
    &__form-input {
        max-width: 170px;
        width: 100%;
        max-height: 40px;
        background-color: #fef7f0;
        border: none;
        padding: 15px;
    }
    &__form-input::placeholder {
        @extend %DMSans-400;
        font-size: 12px;
        color: #234969;
        outline: transparent;
    }
    &__form-btn {
        border: none;
        background-color: #a3bbc8;
        color: #fff;
        padding: 12px 18px;
        @extend %DMSans-400;
        font-size: 14px;
        cursor: pointer;
        &:hover,
        &:focus {
            opacity: 0.7;
        }
        &:active {
            background-color: #373CEB;
        }
    }
}

.footer-bottom {
    padding: 36px 0 36px;
    display: flex;
    justify-content: space-between;
    @extend %Rubik-500;
    font-size: 14px;
    @extend %color;
    &__list {
        display: flex;
    }
    &__link {
        @extend %Rubik-500;
        font-size: 14px;
        @extend %color;
        padding: 0 15px;
        display: inline-block;
        &:hover,
        &:focus {
            opacity: 0.7;
        }
        &:active {
            color: #000;
        }
    }
    &__item:not(:last-child) {
        border-right: 1px solid #7b7b7b;
    }
}