@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'media';
.header {
    padding: 52px 0 25px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
        margin-left: 143px;
    }
    &__item:not(:last-child) {
        margin-right: 35px;
    }
    &__link {
        @extend %Rubick-500;
        color: #436372;
        font-size: 15px;
        line-height: 0.8;
    }
}

.user-nav {
    display: flex;
    &__search {
        background-color: #edf1f4;
        height: 52px;
        width: 52px;
        border-radius: 50%;
        margin-right: 20px;
        transition: background-color .3s;
        position: relative;
    }
    &__search::before {
        position: absolute;
        content: '';
        background-image: url(../images/icons/search-icon.svg);
        width: 17px;
        height: 17px;
        background-size: contain;
        background-repeat: no-repeat;
        right: 30%;
        top: 50%;
        transform: translateY(-50%);
    }
    &__search:hover {
        background-color: #a3bbc8;
    }
    &__like {
        background-color: #fcd7b6;
        height: 52px;
        width: 90px;
        border-radius: 40% 0 0 40%;
        position: relative;
        border-right: 1px solid #fde7d3;
    }
    &__like::before {
        position: absolute;
        content: '';
        background-image: url(../images/icons/like-icon.svg);
        width: 17px;
        height: 17px;
        background-size: contain;
        background-repeat: no-repeat;
        right: 33%;
        top: 55%;
        transform: translateY(-50%);
    }
    &__shopping {
        background-color: #fcd7b6;
        height: 52px;
        width: 90px;
        border-radius: 0 40% 40% 0;
        margin-right: 20px;
        position: relative;
    }
    &__shopping::before {
        position: absolute;
        content: '';
        background-image: url(../images/icons/shopping-icon.svg);
        width: 17px;
        height: 17px;
        background-size: contain;
        background-repeat: no-repeat;
        right: 40%;
        top: 50%;
        transform: translateY(-50%);
    }
    &__points {
        background-color: #edf1f4;
        height: 52px;
        width: 52px;
        border-radius: 50%;
        transition: background-color .3s;
        position: relative;
    }
    &__points::before {
        position: absolute;
        content: '';
        background-image: url(../images/icons/points-icon.svg);
        width: 21px;
        height: 21px;
        background-size: contain;
        background-repeat: no-repeat;
        right: 33%;
        top: 50%;
        transform: translateY(-50%);
    }
    &__points:hover {
        background-color: #a3bbc8;
    }
    &__num {
        @extend %DMSans-400;
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        top: 20%;
        left: 56%;
        font-size: 10px;
        text-align: center;
        line-height: 1.4;
    }
}

.top-slider {
    padding-top: 25px;
    &__inner {
        display: flex;
        background-color: #fcd7b6;
        min-height: 820px;
        align-items: center;
        position: relative;
    }
    &__inner::after {
        border-radius: 50%;
        background-image: linear-gradient( 180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
        position: absolute;
        width: 634px;
        height: 634px;
        z-index: 231;
        content: '';
        right: 185px;
    }
    &__item {
        display: flex !important;
        max-width: 1200px;
        margin: 0 auto;
    }
    &__title {
        @extend %Rubick-500;
        font-size: 72px;
        line-height: 1;
        color: #243f4d;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &__text {
        @extend %Rubick-400;
        font-size: 18px;
        line-height: 1.6;
        color: #436372;
        margin-bottom: 20px;
        max-width: 370px
    }
    &__link {
        @extend %Rubick-500;
        font-size: 15px;
        line-height: 0.9;
        color: #fff;
        background-color: #a3bbc8;
        padding: 25px 100px 25px 30px;
        position: relative;
    }
    &__link::after {
        position: absolute;
        content: '';
        background-image: url(../images/icons/arrow.svg);
        height: 10px;
        width: 25px;
        right: 20px;
    }
}

.slick-dots {
    display: flex;
    position: absolute;
    content: '';
    left: 47%;
    bottom: 5%;
}

.slick-dots button {
    padding: 0;
    background-color: #fde3cc;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #243f4d;
    margin-right: 12px;
    font-size: 11px;
    @extend %Rubick-500;
}

.slick-active button {
    background-color: #ffffff;
}

.positives {
    &__inner {
        padding: 40px 0 40px;
        display: flex;
        justify-content: space-around;
        background-color: #fef7f0;
    }
    &__item {
        margin-left: 200px;
        min-width: 345px;
    }
    &__item:not(:last-child) {
        border-right: 1px solid #e8e4df;
    }
    &__title {
        @extend %DMSans-700;
        line-height: 2.2;
        color: #414141;
        font-size: 18px;
    }
    &__text {
        max-width: 205px;
        @extend %DMSans-400;
        font-size: 16px;
        color: #585858;
        line-height: 1.9;
    }
    &__text-width {
        max-width: 220px;
    }
}

.positives__item-support {
    position: relative;
}

.positives__item-support::before {
    position: absolute;
    content: '';
    background-image: url(../images/icons/hours.svg);
    height: 55px;
    width: 55px;
    top: 7px;
    left: -76px;
    background-repeat: no-repeat;
    background-size: contain;
}

.positives__item-delivery {
    position: relative;
}

.positives__item-delivery::before {
    position: absolute;
    content: '';
    background-image: url(../images/icons/truck.svg);
    height: 55px;
    width: 55px;
    top: 16px;
    left: -82px;
    background-repeat: no-repeat;
    background-size: contain;
}

.positives__item-secure {
    position: relative;
}

.positives__item-secure::before {
    position: absolute;
    content: '';
    background-image: url(../images/icons/img.svg);
    height: 55px;
    width: 55px;
    top: 7px;
    left: -76px;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-top {
    padding: 80px 0 70px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    &__contact {
        margin-right: 90px;
        max-width: 210px;
        color: #7b7b7b;
    }
    &__nav {
        width: 158px;
        margin-right: 139px;
    }
    &__link {
        font-size: 14px;
        @extend %Rubick-400;
        line-height: 2.3;
        color: #7b7b7b;
    }
    &__items-form {
        max-width: 290px
    }
    &__logo {
        margin-bottom: 20px;
        display: block;
    }
    &__title {
        margin-bottom: 13px;
        color: #1f2044;
        @extend %DMSans-700;
        font-size: 16px;
        line-height: 1.3;
        text-transform: uppercase;
        padding-top: 20px;
    }
    &__adress,
    &__phone,
    &__email {
        font-size: 14px;
        @extend %Rubick-400;
        line-height: 2.2;
        color: #7b7b7b;
    }
    &__text {
        @extend %Rubick-400;
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 35px;
        max-width: 240px;
    }
    &__form {
        display: inline;
    }
    &__form-input {
        max-width: 170px;
        width: 100%;
        max-height: 40px;
        background-color: #fef7f0;
        border: none;
        padding: 15px;
    }
    &__form-input::placeholder {
        @extend %DMSans-400;
        font-size: 12px;
        color: #234969;
    }
    &__form-btn {
        border: none;
        background-color: #234969;
        color: #fff;
        padding: 12px 18px;
        @extend %DMSans-400;
        font-size: 14px;
        cursor: pointer;
    }
}

.footer-bottom {
    padding: 36px 0 36px;
    display: flex;
    justify-content: space-between;
    @extend %Rubick-500;
    font-size: 14px;
    color: #7b7b7b;
    &__list {
        display: flex;
    }
    &__link {
        @extend %Rubick-500;
        font-size: 14px;
        color: #7b7b7b;
    }
    &__item:not(:last-child) {
        padding-right: 15px;
        margin-right: 15px;
        border-right: 1px solid #7b7b7b;
    }
}