    .header {
        padding: 56px 0 22px;
        @media (max-width: 600px) {
            padding: 20px 0 20px;
        }
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    
    .logo {
        max-width: 200px;
        &__img {
            max-width: 100%;
        }
    }
    
    .menu {
        margin-bottom: 7px;
        @media (max-width: 1199px) {
            order: 1;
            margin-left: 40px;
        }
        @media (max-width:600px) {
            order: 0;
        }
        &__btn {
            display: none;
            @media (max-width: 1199px) {
                height: 22px;
                width: 44px;
                border: none;
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                padding: 0;
                span {
                    width: 100%;
                    height: 3px;
                    background-color: #000;
                }
                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: #000;
                }
                &::before {
                    top: 0;
                }
                &::after {
                    bottom: 0;
                }
            }
        }
        &__list {
            display: flex;
            margin-left: 143px;
            @media (max-width: 1199px) {
                transform: translateY(-300%);
                position: absolute;
                top: 140px;
                width: 100%;
                left: 0;
                flex-direction: column;
                align-items: center;
                margin-left: 0;
                z-index: 5;
                transition-duration: .5s;
            }
            &.menu__list--active {
                @media (max-width: 1199px) {
                    transform: translateY(-10%);
                    transition-duration: .5s;
                    background-color: #fff;
                }
            }
            @media (max-width:600px) {
                top: 190px;
                &.menu__list--active {
                    transform: translateY(-20%);
                }
            }
        }
        &__item {
            margin-right: 35px;
            @media (max-width: 1199px) {
                margin-right: 0;
                padding-bottom: 10px;
                width: 100%;
                text-align: center;
                padding: 0 12px;
                margin-bottom: 12px;
            }
        }
        &__link {
            @extend %Rubik-500;
            color: #436372;
            font-size: 15px;
            line-height: 1.3;
            &:hover,
            &:focus {
                opacity: 0.7;
                outline: transparent;
            }
            &:active {
                color: #000;
            }
        }
    }
    
    .user-nav {
        display: flex;
        @media (max-width: 600px) {
            margin-left: auto;
            width: 100%;
            margin-top: 35px;
            justify-content: flex-end;
        }
        &__img {
            margin: auto;
            height: 100%;
            fill: #a3bbc8;
            &--top {
                fill: #26414f;
            }
        }
        &__item {
            height: 52px;
            &:hover .user-nav__img {
                fill: #ffffff;
            }
            &--search {
                background-color: #edf1f4;
                width: 52px;
                border-radius: 50%;
                margin-right: 14px;
                transition: background-color .3s;
                &:hover {
                    background-color: #a3bbc8;
                }
            }
            &--like {
                background-color: #fcd7b6;
                width: 90px;
                border-radius: 35% 0 0 35%;
                border-right: 1px solid #fde7d3;
                transition: background-color .3s;
                display: flex;
                justify-content: center;
                position: relative;
                &:hover {
                    background-color: #E6B960;
                }
            }
            &--shopping {
                background-color: #fcd7b6;
                width: 90px;
                border-radius: 0 35% 35% 0;
                margin-right: 20px;
                transition: background-color .3s;
                display: flex;
                position: relative;
                & .user-nav__img {
                    margin-right: 50px;
                }
                &:hover {
                    background-color: #E6B960;
                }
            }
            &--points {
                background-color: #edf1f4;
                width: 52px;
                border-radius: 50%;
                transition: background-color .3s;
                &:hover {
                    background-color: #a3bbc8;
                }
            }
        }
        &__num {
            @extend %DMSans-400;
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #fff;
            top: 30%;
            left: 56%;
            font-size: 10px;
            text-align: center;
            line-height: 1.4;
        }
        &__item--span {
            left: 40%;
        }
    }